
<div class="overlap-grid">

    <div class = "background-video">
        <video  autoplay="" preload="auto" loop="" playsinline="">
            <source type="video/webm" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/homepage/dota_montage_webm.webm">
            <source type="video/mp4" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/homepage/dota_montage_02.mp4">
        </video>
        
    </div>
    
    <div class="homepage">
        <div class="review">
            <div class="description-big-text">
                “A Modern Multiplayer Masterpiece.”
            </div>
            <div class="descriptor-text">
                - Destructoid
            </div>
        
    </div>
    
    
</div>


    